:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --button-color: #f5f4fa;
  --white-color: #fff;
  --black-color: #000;
  --hero-color: #2f303a;
  --border-card-color: #eeeeee;
  --border-header-color: #ececec;

  --gap: 30px;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
} */

body {
  background-color: var(--white-color);
  color: var(--text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка сторінки */

.page-header {
  border-bottom: 1px solid var(--border-header-color);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0;
}

/* Логотип */

.logo {
  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.page-header .logo .accent {
  color: var(--black-color);
}

/* Навігація сторінки */

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav.list {
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Пошта та телефон */
.page-header .contact.list {
  display: flex;
}

.page-header .contact.list .item:not(:first-child) {
  margin-left: 50px;
}

.contact .primery.link {
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero {
  background-color: var(--hero-color);
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  margin: 0 auto 30px auto;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);

  font-family: inherit;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: inherit;

  display: inline-block;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
}

.hero-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Головна сторінка */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
  margin-top: 0px;
}

/*==> Особливості <==*/
.feature.list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}

.feature .item {
  flex-basis: calc(100% / 4 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
}

.feature.list .title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  margin-top: 0;
  margin-bottom: 10px;
}

.feature.list .text {
  font-size: 14px;
  line-height: 1.71;

  padding: 0;
  margin: 0;
}
/*==> END Особливості <==*/

/*==> Чим ми займаємося <==*/
.about.list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}

.about .item {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
}

.about .image {
  display: block;
  max-width: 100%;
}
/*==> END Чим ми займаємося <==*/

/*==> Наша команда <==*/
.section.team {
  background-color: var(--button-color);
}

.team.list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}

.team .item {
  flex-basis: calc(100% / 4 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.team .content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team .image {
  display: block;
  max-width: 100%;
}

.team .title {
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 0;
  margin-bottom: 10px;
}

.team.list .text {
  margin: 0;

  font-size: 16px;
  line-height: 1.19;
}
/*==> END Наша команда <==*/

/*==> Фільтр кнопок <==*/
.filter.list {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter .button {
  background-color: var(--button-color);
  color: var(--title-color);

  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
}

.filter .button:hover,
.filter .button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/*==> END Фільтр кнопок <==*/

/* Сітка Портфоліо */
.portfolio.list {
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));

  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
}

.portfolio .image {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio .content {
  padding: 20px 24px;
  border: 1px solid var(--border-card-color);
}

.portfolio .title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0 0 4px 0;
  padding: 0;
}

.portfolio .text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.87;

  margin: 0;
  padding: 0;
}

/* Підвал сторінки */

.page-footer {
  background-color: var(--hero-color);
}

.page-footer .container {
  padding: 60px 15px;
  margin-bottom: 0;
}

/* Логотип підвалу */

.page-footer .logo .accent {
  color: var(--white-color);
}
.page-footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* Адреса підвалу */

.physical-address {
  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contact .secondery {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 90px;
}

.list-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Прихований контент */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
